<nav class="bg-gray-800 ">
  <div class="max-w-screen-xl h-16 mx-auto px-4 flex items-center justify-between">
      <!-- Navigation Links -->
      <div class="flex items-center space-x-8 ">
          <ul class="flex flex-col md:flex-row font-medium space-y-4 md:space-y-0 md:space-x-8">
              <li>
                  <a href="#" class="text-gray-200 hover:text-white transition">Home</a>
              </li>
              <li>
                  <a href="#Projects" class="text-gray-200 hover:text-white transition">Top sales</a>
              </li>
              <li>
                  <a href="aboutUs.html" class="text-gray-200 hover:text-white transition">About Us</a>
              </li>
              <li>
                  <a href="contactUs.html" class="text-gray-200 hover:text-white transition">Contact Us</a>
              </li>
          </ul>
      </div>
      <!-- Login/Register Button -->
      <a href="Login.html" type="button" class="text-white bg-primary loginb hover:bg-white
       hover:text-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 
       text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login/Register</a>
      <!-- Mobile Menu Toggle Button -->
      <button id="mobile-menu-toggle" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-cta" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
  </div>
  <!-- Mobile Navigation Menu -->
  <div class="hidden md:hidden" id="navbar-cta">
      <ul class="flex flex-col font-medium p-4 mt-4 border rounded-lg md:flex-row md:mt-0 md:border-0">
          <li>
              <a href="#" class="text-gray-200 hover:text-white transition">Home</a>
          </li>
          <li>
              <a href="#" class="text-gray-200 hover:text-white transition">Shop</a>
          </li>
          <li>
              <a href="#" class="text-gray-200 hover:text-white transition">About Us</a>
          </li>
          <li>
              <a href="#" class="text-gray-200 hover:text-white transition">Contact Us</a>
          </li>
      </ul>
      <button type="button" class="text-white mb-8 bg-primary hover:bg-white hover:text-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login/Register</button>

     
  </div>
</nav>