

  <div class="product-container  w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105  hover:shadow-xl">
    <a href="#">
        <img class="bg-contain" [src]="product.image"
                alt="Product" class="h-80 w-72 object-cover  rounded-t-xl" />
        <div class="px-4 py-3 w-72">
        
            <p class="text-lg font-bold text-black truncate block capitalize">{{ product.name }}</p>
            <div class="flex items-center">
                <p class="text-lg font-semibold text-black cursor-auto my-3">${{ product.price }}</p>
                
                <del>
                    <p class="text-sm text-gray-600 cursor-auto ml-2">${{ product.description }}</p>
                </del>
                <div class="ml-auto"> 
                  <button type="button" class="btnCart text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                      <i class="far fa-heart"></i>
                  </button>
              </div>
            </div>
            <div class="ml-auto"> 
                <button class="btnCart px-6 py-2 transition ease-in duration-200 uppercase rounded-full hover:bg-gray-800 hover:text-white border-2 border-gray-900 focus:outline-none">Add to cart</button>
            </div>
        </div>
    </a>
</div>

  